<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration   PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <!-- setting mybatis configuration -->
  <!-- https://mybatis.org/mybatis-3/configuration.html -->
  <settings>
<!--
    <setting name="cacheEnabled" value="false"/>
    <setting name="lazyLoadingEnabled" value="true"/>
    <setting name="useGeneratedKeys" value="true"/>
    <setting name="mapUnderscoreToCamelCase" value="true"/>
    <setting name="jdbcTypeForNull" value="VARCHAR"/>
    <setting name="defaultStatementTimeout" value="25"/>
    <setting name="defaultFetchSize" value="1000"/>
-->
      <setting name="multipleResultSetsEnabled" value="false"/>
      <setting name="defaultExecutorType" value="REUSE" />
      <setting name="mapUnderscoreToCamelCase" value="true"/>
      <setting name="callSettersOnNulls" value="true"/>
      <setting name="jdbcTypeForNull" value="NULL"/>
  </settings>

  <!-- Adding domain name  -->
  <typeAliases>

    <!-- Common -->
    <typeAlias type="io.mkeasy.utils.QueryMap" alias="QueryMap" /> 
    <typeAlias type="io.mkeasy.utils.EgovMap" alias="EgovMap" /> 
    <typeAlias type="java.util.List" alias="List" /> 

  </typeAliases>


</configuration>
