<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="oldegg.common">
    <select id="selectSuFarm" parameterType="EgovMap" resultType="EgovMap">
        SELECT 
        	FARM_NO, FARMNAME, COMPANY, TEL, FAX_TEL, HP_TEL, MAIN_TEL 
        FROM 
        	SU_FARM
    </select>

    <select id="selectTblPigTerms" parameterType="EgovMap" resultType="EgovMap">
    	SELECT CATE, TERM, EXPLAIN FROM TBL_PIG_TERMS
    	ORDER BY SEQ, CATE, TERM
    </select>

    <delete id="truncateTemp" parameterType="EgovMap" >
		TRUNCATE TABLE TEMP
    </delete>

	<!-- 오라클 에러 정보 (ORA-00600) - Internal Error Exception -->
    <!--  >insert id="insertTemp" parameterType="java.util.List" >
	{call declare begin

        INSERT ALL
		<foreach collection="list" item="item" separator="" >
        INTO TEMP (
			G1, G2, G3, G4, G5, G6, G7, G8, G9, G10,
			G11, G12, G13, G14, G15, G16, G17, G18, G19, G20,
			G21, G22, G23, G24, G25, G26, G27, G28, G29, G30,
			G31, G32, G33, G34, G35, G36, G37, G38, G39, G40,
			G41, G42, G43, G44, G45, G46, G47, G48, G49, G50
		) 
		VALUES 
		(
			#{item.g1}  ,#{item.g2}  ,#{item.g3}  ,#{item.g4}  ,#{item.g5}  ,#{item.g6}  ,#{item.g7}  ,#{item.g8}  ,#{item.g9}  ,#{item.g10},
			#{item.g11} ,#{item.g12} ,#{item.g13} ,#{item.g14} ,#{item.g15} ,#{item.g16} ,#{item.g17} ,#{item.g18} ,#{item.g19} ,#{item.g20},
			#{item.g21} ,#{item.g22} ,#{item.g23} ,#{item.g24} ,#{item.g25} ,#{item.g26} ,#{item.g27} ,#{item.g28} ,#{item.g29} ,#{item.g30},
			#{item.g31} ,#{item.g32} ,#{item.g33} ,#{item.g34} ,#{item.g35} ,#{item.g36} ,#{item.g37} ,#{item.g38} ,#{item.g39} ,#{item.g40},
			#{item.g41} ,#{item.g42} ,#{item.g43} ,#{item.g44} ,#{item.g45} ,#{item.g46} ,#{item.g47} ,#{item.g48} ,#{item.g49} ,#{item.g50}
		)
		</foreach>
		SELECT 1 FROM DUAL;

	end }
    </insert -->

    <insert id="insertTemp" parameterType="java.util.List" >
        INSERT /*+ append */
        INTO TEMP (
			G1,  G2,  G3,  G4,  G5,  G6,  G7,  G8,  G9,  G10,
			G11, G12, G13, G14, G15, G16, G17, G18, G19, G20,
			G21, G22, G23, G24, G25, G26, G27, G28, G29, G30,
			G31, G32, G33, G34, G35, G36, G37, G38, G39, G40,
			G41, G42, G43, G44, G45, G46, G47, G48, G49, G50
		) 
		VALUES 
		(
			#{g1}  ,#{g2}  ,#{g3}  ,#{g4}  ,#{g5}  ,#{g6}  ,#{g7}  ,#{g8}  ,#{g9}  ,#{g10},
			#{g11} ,#{g12} ,#{g13} ,#{g14} ,#{g15} ,#{g16} ,#{g17} ,#{g18} ,#{g19} ,#{g20},
			#{g21} ,#{g22} ,#{g23} ,#{g24} ,#{g25} ,#{g26} ,#{g27} ,#{g28} ,#{g29} ,#{g30},
			#{g31} ,#{g32} ,#{g33} ,#{g34} ,#{g35} ,#{g36} ,#{g37} ,#{g38} ,#{g39} ,#{g40},
			#{g41} ,#{g42} ,#{g43} ,#{g44} ,#{g45} ,#{g46} ,#{g47} ,#{g48} ,#{g49} ,#{g50}
		)
    </insert>

</mapper>
