<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
  <Properties>
    <Property name="LOG_FORMAT">%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%X{sessionID}] %-40.40c{2.} :%4.4L   %m%n</Property>
    <Property name="BASE_DIR">/demo3/log</Property>
  </Properties>

  <Appenders>
    <Console name="console" target="SYSTEM_OUT" follow="true">
      <PatternLayout pattern="${LOG_FORMAT}"/>
    </Console>

    <RollingFile name="file" fileName="${BASE_DIR}/api.log" filePattern="${BASE_DIR}/api.%d{yyyyMMdd}.log">
      <PatternLayout pattern="${LOG_FORMAT}"/>
      <Policies>
        <TimeBasedTriggeringPolicy />
      </Policies>
      <DefaultRolloverStrategy>
        <Delete basePath="${BASE_DIR}">
          <IfFileName glob="*.log" />
          <IfLastModified age="360d" />
        </Delete>
      </DefaultRolloverStrategy>
    </RollingFile>

  </Appenders>
  <!-- FATAL, ERROR, WARN, INFO, DEBUG, TRACE -->
  <Loggers>

    <!-- jdbc.sql Loggers-->
    <Logger name="jdbc.connection"      level="OFF" additivity="false"><AppenderRef ref="console" /></Logger>
    <Logger name="jdbc.audit"           level="OFF" additivity="false"><AppenderRef ref="console" /></Logger>
    <Logger name="jdbc.sqlonly"         level="INFO" additivity="false">
      <AppenderRef ref="console" />
      <RegexFilter regex="(?s).*(?i)(T_SVC_TRN_LOG).*" onMatch="DENY" onMismatch="ACCEPT" />
    </Logger>
    <Logger name="jdbc.sqltiming"       level="OFF" additivity="false"><AppenderRef ref="console" /></Logger>
    <Logger name="jdbc.resultset"       level="OFF" additivity="false"><AppenderRef ref="console" /></Logger>
    <Logger name="jdbc.resultsettable"  level="DEBUG" additivity="false"><AppenderRef ref="console" /></Logger>

    <Logger name="com.zaxxer.hikari"    level="INFO" additivity="false"><AppenderRef ref="console" /></Logger>
    <Logger name="org.hibernate.engine" level="INFO" additivity="false"><AppenderRef ref="console" /></Logger>
    <Logger name="org.springframework"  level="INFO" additivity="false"><AppenderRef ref="console" /></Logger>
    <Logger name="io.mkeasy"            level="DEBUG" additivity="false"><AppenderRef ref="console" /></Logger>
    <Logger name="newapp"               level="DEBUG" additivity="false"><AppenderRef ref="console" /></Logger>

    <Root level="INFO">
      <AppenderRef ref="console"/>
      <AppenderRef ref="file" />
    </Root>

  </Loggers>
</Configuration>
