<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!--  
*******************************************************************************
  요청 정보 : 요청시 다비육종 생시체중 업로드
*******************************************************************************/
-->
<!-- 
  1. 작업용 테이블 생성 
  2. 현재 작업중인 사용자에겐 데이터가 유지된다.
CREATE TABLE TEMP (	
    G1 VARCHAR2(400),  G2 VARCHAR2(400),  G3 VARCHAR2(400),  G4 VARCHAR2(400), G5 VARCHAR2(400), G6 VARCHAR2(400), G7 VARCHAR2(400), G8 VARCHAR2(400), G9 VARCHAR2(400), G10 VARCHAR2(400), 
    G11 VARCHAR2(400), G12 VARCHAR2(400), G13 VARCHAR2(400), G14 VARCHAR2(400), G15 VARCHAR2(400), G16 VARCHAR2(400), G17 VARCHAR2(400), G18 VARCHAR2(400), G19 VARCHAR2(400), G20 VARCHAR2(400), 
    G21 VARCHAR2(400), G22 VARCHAR2(400), G23 VARCHAR2(400), G24 VARCHAR2(400), G25 VARCHAR2(400), G26 VARCHAR2(400), G27 VARCHAR2(400), G28 VARCHAR2(400), G29 VARCHAR2(400), G30 VARCHAR2(400), 
    G31 VARCHAR2(400), G32 VARCHAR2(400), G33 VARCHAR2(400), G34 VARCHAR2(400), G35 VARCHAR2(400), G36 VARCHAR2(400), G37 VARCHAR2(400), G38 VARCHAR2(400), G39 VARCHAR2(400), G40 VARCHAR2(400), 
    G41 VARCHAR2(400), G42 VARCHAR2(400), G43 VARCHAR2(400), G44 VARCHAR2(400), G45 VARCHAR2(400), G46 VARCHAR2(400), G47 VARCHAR2(400), G48 VARCHAR2(400), G49 VARCHAR2(400), G50 VARCHAR2(400)
);
-->
<mapper namespace="oldegg.excel">

	<!-- 이각번호가 중복이 발생되면 updateTemp가 동작하지 않습니다. -->
    <select id="checkDuplicate" parameterType="egovMap" resultType="egovMap">
	   SELECT D.S_PIG_NO, COUNT(*) AS CNT, D.S_IGAK_NO
	   FROM TEMP A, SU_BUN_JADON D
	   WHERE D.FARM_NO = #{farmNo}
		   AND D.S_IGAK_NO = A.G2
		   AND D.S_BIRTHDAY = A.G5
		   AND D.M_PIG_NO = A.G8
		   AND D.U_PIG_NO = A.G7
		   AND D.S_IGAK_NO <![CDATA[ <> ]]> '53-32'
	   GROUP BY D.S_PIG_NO, D.S_IGAK_NO
	   HAVING COUNT(*) > 1
    </select>

    <update id="updateTempWithSPigNo" parameterType="egovMap" statementType="CALLABLE" >
        UPDATE TEMP A
		SET G13 = (
			SELECT D.S_PIG_NO
              FROM SU_BUN_JADON D
            WHERE D.FARM_NO = #{farmNo}
			  AND D.S_IGAK_NO = A.G2
			  AND D.S_BIRTHDAY = A.G5
			  AND D.M_PIG_NO = A.G8
			  AND D.U_PIG_NO = A.G7
			  AND D.S_IGAK_NO <![CDATA[ <> ]]> '53-32'
		)
    </update>

    <update id="updateSuBunJadon" parameterType="egovMap" statementType="CALLABLE" >
		UPDATE SU_BUN_JADON A
   		SET S_SAENGSI_KG = (
   			SELECT G4
               FROM TEMP
            WHERE G2 = A.INSIK_NO AND G5 = A.S_BIRTHDAY AND G13 = A.S_PIG_NO)
		WHERE FARM_NO = #{farmNo}
		AND (INSIK_NO, S_BIRTHDAY, S_PIG_NO) IN (SELECT G2, G5, G13 FROM TEMP)
    </update>
      
</mapper>
